@model HospitalManagementApp.Models.Staff

@{
    ViewData["Title"] = "Calendar";
}
<body>
    <h1>Calendar</h1>
    <hr />
        <p class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </p>
        <p class="col-sm-10">
            var id = @Html.DisplayFor(model => model.Id)
        </p>
        <p class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </p>
        <p class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </p>
        <p class="col-sm-10" id="cal" style="color:white">
            @Html.DisplayFor(model => model.WorkSchedule)
        </p>
    </table>
    
    <div class="container">
        <table class="calendar">
            <thead>
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Morning</td>
                    <td class="a2"></td>
                    <td class="a3"></td>
                    <td class="a4"></td>
                    <td class="a5"></td>
                    <td class="a6"></td>
                    <td class="a7"></td>
                    <td class="a8"></td>
                </tr>
                <tr>
                    <td>Afternoon</td>
                    <td class="b2"></td>
                    <td class="b3"></td>
                    <td class="b4"></td>
                    <td class="b5"></td>
                    <td class="b6"></td>
                    <td class="b7"></td>
                    <td class="b8"></td>
                </tr>
                <tr>
                    <td>Evening</td>
                    <td class="c2"></td>
                    <td class="c3"></td>
                    <td class="c4"></td>
                    <td class="c5"></td>
                    <td class="c6"></td>
                    <td class="c7"></td>
                    <td class="c8"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>

        <a asp-action="CreateCalendar" asp-route-id="id">Create calendar for all staff</a>
    </div>


    <script src="~/js/calendar.js">  </script>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}