@model HospitalManagementApp.Models.Staff

@{
    ViewData["Title"] = "Calendar";
}

<body>
    <h1>Calendar</h1>
        <p class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id): 
            @Html.DisplayFor(model => model.Id)
        </p>
        <p class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name): 
            @Html.DisplayFor(model => model.Name)
        </p>
        <p> Morning: 6AM - 11:30AM   |   Afternoon: 12:30AM - 16:30PM   |   Extra: 16:30PM - 19PM </p>
        <div>
            @if (Model.WorkSchedule != null && Model.WorkSchedule.Date != null && Model.WorkSchedule.DayofWeek != null)
            {
                string a = "";
                foreach(var date in Model.WorkSchedule.Date)
                {
                if (date != Model.WorkSchedule.Date[0]) a += ", ";
                    a += date;
                }
                foreach (var shift in Model.WorkSchedule.DayofWeek)
                {
                    a += ", ";
                    a += (int)shift;
                }

                <p class="col-sm-10" style="color:white" id="cal-date">@a</p>
            }
        </div>
    <hr />
    </table>
    
    <div class="container">
        <table class="calendar">
            <thead>
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                <tr>
                    <th></th>
                    <th id="day1">day1</th>
                    <th id="day2">day2</th>
                    <th id="day3">day3</th>
                    <th id="day4">day4</th>
                    <th id="day5">day5</th>
                    <th id="day6">day6</th>
                    <th id="day7">day7</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Morning</td>
                    <td id="a2"></td>
                    <td id="a3"></td>
                    <td id="a4"></td>
                    <td id="a5"></td>
                    <td id="a6"></td>
                    <td id="a7"></td>
                    <td id="a8"></td>
                </tr>
                <tr>
                    <td>Afternoon</td>
                    <td id="b2"></td>
                    <td id="b3"></td>
                    <td id="b4"></td>
                    <td id="b5"></td>
                    <td id="b6"></td>
                    <td id="b7"></td>
                    <td id="b8"></td>
                </tr>
                <tr>
                    <td>Evening</td>
                    <td id="c2"></td>
                    <td id="c3"></td>
                    <td id="c4"></td>
                    <td id="c5"></td>
                    <td id="c6"></td>
                    <td id="c7"></td>
                    <td id="c8"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>

    </div>

    <script src="~/js/calendar.js">  </script>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}