@model ICollection<HospitalManagementApp.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Staff Management</h1>

<p>
    <a asp-action="CreateCalendar">Create calendar for all staff</a>
</p>
<p>
    <a asp-action="RemoveCalendar">Remove calendar of all staff</a>
</p>
<p>
    <a asp-action="Add">Add new Staff</a>
</p>

<form asp-action="FindStaff" method="get">
    <div>
        <label for="StaffName">Search Staff by Name:</label>
        <input type="text" id="StaffName" name="StaffName" />
        <button type="submit">Search</button>
    </div>
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HealthCareStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SpecialList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().WorkSchedule)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(model => item.HealthCareStaff)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PhoneNum)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SpecialList)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Department)
                </td>
                <td>
                    <a asp-action="Calendar" asp-route-id="@item.Id">Calendar</a>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Action</button>
                        <div class="dropdown-content">
                            <a href="#">Edit</a>
                            <a href="#">Details</a>
                            <a href="#">Remove</a>
                            <a href="#">ShowPatient</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    
</table>
