@model ICollection<HospitalManagementApp.Models.Patient>

@{
    ViewData["Title"] = "ShowPatient";
}

<h1>List Patient</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Id) *@
                <strong>Id number</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Name) *@
                <strong>Full name</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().TestResult) *@
                <strong>Test result</strong>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
          @foreach (var item in Model)
          {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TestResult)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>  
          }
    </tbody>

</table>
