@model ICollection<HospitalManagementApp.Models.Prescription>

@{
    ViewData["Title"] = "List";
}

<h1>List of Prescription</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Add New Prescription</a>
</p>
<div>
    <a asp-controller="Drugs" asp-action="Index" class="btn btn-primary">Back to Drugs</a>
</div>
@using (Html.BeginForm("Search", "Prescription", FormMethod.Get))
{
    <div class="">
        Find Prescription: @Html.TextBox("SearchingId", ViewBag.CurrentFilter as int?, new {@class = "form-control"})
        <input type="submit" value="Search" class="btn btn-info"/>
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IdOfPatient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdOfPatient)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <button type="button" class="btn btn-danger btn-delete-pres" value="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {
    <script src="/js/change_quantity.js"></script>
}