@model ICollection<HospitalManagementApp.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Management</h1>

<p>
    <a asp-action="Add">Add new patient</a>
</p>
@using (Html.BeginForm("SearchByDiseaseType", "Patient", FormMethod.Get))
{
    <p>
        Find patients: @Html.TextBox("searchType", ViewBag.CurrentFilter as string)
        <input type="submit" value="By disease type" />
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Id number</strong>
            </th>
            <th>
                <strong>Full name</strong>
            </th>
            <th>
                <strong>Gender</strong>
            </th>
            <th>
                <strong>Date of birth</strong>
            </th>
            <th>
                <strong>Address</strong>
            </th>
            <th>
                <strong>Phone number</strong>
            </th>
            <th>
                <strong>Staff Id</strong>
            </th>
            <th>
                <strong>Status</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PhoneNum)
                </td>
                <td>
                    @if(item.StaffIds is not null) @Html.Raw(string.Join(", ", item.StaffIds))
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove</a> |
                    <a asp-action="TreatmentScheduleManager" asp-route-id="@item.Id" >Manage treatment schedule</a>
                    <a asp-controller="Prescription" asp-action="GetPrescriptions" asp-route-id=@item.Id>Get prescription</a> *@

                    <div class="dropdown">
                        <button class="dropbtn">Choose an action</button>
                        <div class="dropdown-content">
                            <a href="/Patient/Edit/@item.Id">Edit</a>
                            <a href="/Patient/Details/@item.Id">Details</a>
                            <a href="/Patient/Remove/@item.Id">Remove</a>
                            <a href="/Patient/TreatmentScheduleManager/@item.Id">Manage treatment schedule</a>
                            <a href="/Patient/Prescription/GetPrescriptions/@item.Id">Get prescription</a>
                            <a href="/Patient/SetTestResult/@item.Id">Set test result</a>
                            <a href="/Patient/SetStaffId/@item.Id">Set staff in charge</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    
</table>
