@model ICollection<HospitalManagementApp.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Management</h1>

<p>
    <a asp-action="Add">Add new patient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Id) *@
                <strong>Id number</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Name) *@
                <strong>Full name</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Gender) *@
                <strong>Gender</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfBirth) *@
                <strong>Date of birth</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Address) *@
                <strong>Address</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNum) *@
                <strong>Phone number</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().MedicalHistory) *@
                <strong>Medical history</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().TestResult) *@
                <strong>Test result</strong>
            </th>
            <th>
                <strong>Staff Id</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().TreatmentSchedule) *@
                <strong>Treatment schedule</strong>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Status) *@
                <strong>Status</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PhoneNum)
                </td>
                <td>
                    @Html.DisplayFor(model => item.MedicalHistory)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TestResult)
                </td>
@*                 <td>
                    @Html.Raw(string.Join(", ", item.StaffId))
                </td> *@
                <td>
                    @if (item.TreatmentSchedule != null)
                    {
                        <ul>
                            @foreach (var treatment in item.TreatmentSchedule)
                            {
                                <li>
                                    <strong>Date:</strong> @treatment.Date<br />
                                    <strong>StartTime:</strong> @treatment.StartTime<br />
                                    <strong>EndTime:</strong> @treatment.EndTime<br />
                                </li>
                            }
                        </ul>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove</a> |
                    <a asp-action="TreatmentScheduleManager" asp-route-id="@item.Id" >Manage treatment schedule</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
